<table  class="table table-striped table-bordered">
  <tr>
    <th>
      Computer Name
    </th>
    <th>
      Location
    </th>
    <th>
      Operating System
    </th>
    <th>
      Deployment Date
    </th>
    <th>
      Verification Date
    </th>
    <th>
      Warranty Expiration Date
    </th>
  </tr>
  <% @computers.each do |computer| %>
    <tr>
      <td>
        <% if computer.name == "" %>
          <%= link_to '(not named)', controller: "computers", action: "show", id: computer %>
        <% else %>
          <%= link_to computer.name, controller: "computers", action: "show", id: computer %>
        <% end %>
      </td>
      <% if computer.site == nil %>
        <td>
          (No site defined!)
        </td>
      <% else %>
        <td>
          <%= computer.site.name %>
        </td>
      <% end %>
      <td>
        <%= computer.os %>
      </td>
      <td>
        <%= computer.deployment_date%>
      </td>
      <td>
        <%= computer.verification_date%>
      </td>
      <%# I want computers with expired warranties to be highlighted in red. %>
      <% if computer.warranty_date == nil %>
        <td>
          (no warranty expiration date!)
        </td>
      <% else %>
        <% if computer.warranty_date.past? %>
          <td class="out_of_warranty">
            <%= computer.warranty_date%> (Expired)
          </td>
        <% else %>
          <td>
            <%= computer.warranty_date%>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
</br>
<%= link_to "Add New Computer", {:controller => "computers", :action => "new"}, {:class => "btn btn-default"} %>
