<h1>Add New Computer</h1>
<%= form_tag({:action => 'create', :controller => 'computers'}, {:role => 'form', :method => 'get'}) do %>
   <div class="form-group">
     <%= label_tag 'name', 'Network Name:' %>
     <%= text_field_tag 'name', nil, class: 'form-control' %>
   </div>
   <div class="form-group">
     <%= label_tag 'user_id', 'Assigned User:' %>
     <%= select_tag 'user_id', options_from_collection_for_select(@users, 'id', 'full_name'), class: 'form-control' %>
   </div>
   <div class="form-group">
     <%= label_tag 'os', 'Operating System:' %>
     <%= select_tag 'os', options_for_select([['Windows 7', 'Windows 7'],
                                              ['Windows Server 2008 R2', 'Windows Server 2008 R2'],
                                              ['CentOS', 'CentOS'],
                                              ['Red Hat Enterprise Linux', 'Red Hat Enterprise Linux']]), class: 'form-control' %>
   </div>
   <div class="form-group">
     <%= label_tag 'notes', 'Notes:' %>
     <%= text_area_tag 'notes', nil, size: '50x10', class: 'form-control' %>
   </div>
   <div class="form-group">
     <%= label_tag 'deployment_date', 'Deployment Date:' %>
     <%= select_date Date.today, prefix: :deployment_date %>
   </div>
   <div class="form-group">
     <%= label_tag 'verification_date', 'Verification Date:' %>
     <%= select_date Date.today, prefix: :verification_date %>
   </div>
   <%= submit_tag "Create", class: 'btn btn-default' %>
<% end %>
