<!DOCTYPE html>
<html>
<head>
  <title>Inventracker</title>
  <link href="/assets/application.css" media="screen" rel="stylesheet" />
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <h1>Inventory Tracker</h1>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", url_for(action: 'index', controller: 'dashboard') %></li>
            <li><%= link_to "Computers", computers_path %></li>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Sites", sites_path %></li>
            <li></li>
          </ul>
        </nav>
    </div>
  </header>

<%#= link_to "Computers", computers_path %>
<div class="container">
<%= yield %>
</div>

</body>
</html>
